Footer {

    padding: 50px 0 20px;
    background-color: #333;
    padding: 60px;
    padding-bottom: 10px;
}

.footer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 40px;
}


Footer p {
    text-align: center;
    color: #eee
}

footer h4 {
    color: #eee;
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
}

.newsletter {
    width: 100%;
    margin-top: 30px;
}

.newsletter input {
    border: none;
    font-size: 20px;
    padding: 5px 10px;
    margin-bottom: 10px;


}

.newsletter button {
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 4px;
}