.Nav {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.Nav ul {
    list-style-type: none;
    display: flex;
}

.Nav li {
    padding: 10px 15px;
    font-size: 20px;
    margin-right: 50px;
}

.Nav h2 {
    font-size: 40px
}